body {
  background-color: green;
  font-family: "Times New Roman";
}

h1 {
  color: Orange;
  font-family: "Times New Roman";
  font-size: 50px;
}

p {
  color: orange;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 30px;
}

img {
  padding: 35px;
}

.quotes {
  width: 33%;
  margin-right: auto;
  margin-left: auto;
  border-color: orange;
  border-style: solid;
  border-radius: 10px;
  margin-top: 25px;
  padding: 20px;
  height: auto;
  color: orange;
}

.quotes {
  font-size: 30px;
}

.author {
  font-size: 30px;
  font-style: italic;
}